@import '../../../style/global/global.scss';

// .wrapper {
//     background: #fdfdfd;
//     height: 100%;
//     width: 50vw;
//     min-width: 500px;
//
// }


.tableFilters {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
[data-el="search"] {
    margin-bottom: 16px;
    min-width: 200px;
}
.tableSearchHelper {
    text-align: center;
    padding: 20px;
    border: solid 1px var(--color-divider);
    border-left: 0;
    border-right: 0;
}

.coinTable {
    width: 100%;
    margin-bottom: 60px;

    & thead,
    & tbody {
        & tr {
            display: table;
            width: 100%;
            table-layout: fixed;
            & th,
            & td {
                // white-space: nowrap;
                padding: 4px 0px 4px 5px;
                width: 70px;
            }
            & th:nth-child(1),
            & td:nth-child(1) {
                width: 30px;
                // padding-left: 10px;
            }
        }
    }
    & thead {
        width: calc( 100% - 1em );
    }
    & tbody {
        display: block;
        overflow-y: auto;
        min-height: 300px;
        max-height: calc(100vh - 300px);
        // display: inline-block;
    }
    & tfoot {
        z-index: 1200;
        // padding: 0 70px 0 0;
        position: fixed;
        margin-left: calc(50% - ( 430px / 2));
        width: 430px;
        bottom: 0;
        left: 0;
        // border: solid 2px var(--color-primary);
        border-radius: 2px 2px 0 0;
        // box-shadow: var(--zdepth-shadow-3);
        // background: #fff;
        background: var(--color-primary);
        box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.14), 0 -3px 1px -2px rgba(0, 0, 0, 0.2), 0 -1px 5px 0 rgba(0, 0, 0, 0.12);

        // border-top: solid 1px var(--color-primary);

        & tr {
            display: table;
            width: 100%;
            table-layout: fixed;
            & td {
                text-align: center;
                & > div {
                    display: inline-flex;
                }
                & * {
                    color: #fff;
                    & > span {
                        font-size: var(--font-size-small);
                    }
                    & [role="button"] {
                        font-size: var(--font-size-small);
                        padding-right: 30px;
                    }
                    & svg {
                        top: 4px;
                    }
                }
            }
        }
    }
    & [data-color] {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    & [data-color="danger"] {
        color: var(--color-accent);
    }
    & [data-color="success"] {
        color: var(--color-success);
    }
    & [data-el="numberFormat"] {
        display: inline;
    }
    & [data-el="name"] {
        display: flex;
        align-items: center;
        cursor: pointer;

        & li:nth-child(1) {
            min-width: 40px;
        }
        & li:nth-child(2) {
            display: flex;
            flex-direction: column;
            color: var(--color-primary);

            & label {
                font-weight: var(--font-weight-semi-bold);
                font-size: var(--font-size-big);
                cursor: pointer;
            }
            & span {
                font-size: var(--font-size-tiny);
            }
        }
    }
    & [data-el="name"]:hover {
        & li:nth-child(2) {
            text-decoration: underline;
        }
    }

    & [data-el="buttons"] button {
        margin-left: 5px;
    }
}
