@import './global/global.scss';

body {
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-smoothing: antialiased;
}

ul {
    list-style: none none;
    margin: 0;
    padding: 0;
}


[data-el="link"] {
    color: var(--color-primary);
    transition: var(--transition-2);
    cursor: pointer;
}
[data-el="link"]:hover {
    opacity: .7;
    text-decoration: underline;
}
